
<article id="node-{{ node.id }}" class="{{ attributes.class }} {{ view_mode }} {{ 'type-' ~ node.bundle }}"{{ attributes }}>
  {% if not page %}
    <h2{{ title_attributes }}><a href="{{ url }}" rel="bookmark">{{ label }}</a></h2>
  {% endif %}


  <div id="ethereal-matters-logo" class="ethereal-matters-logo">
    <h2>
      <a href="/home">
        <span class="ethereal">Ethereal</span>
        <span class="matters">Matters</span>
      </a>
    </h2>
  </div>

  <div class="header">
    <div class="section-title">
      <h1>{{ label }}</h1>
      {{ content.body }}
    </div>

    {% if logged_in %}
      <div class="block-welcome">{{ block_welcome_home }}</div>
    {% else %}
      <div class="block-login">{{ block_login_home }}</div>
    {% endif %}

    <div class="open-source-science">
      {{ section_open_source_science }}
    </div>
    <div class="section-announcement">
      {{ section_announcement }}
    </div>

  </div>

  <div class="communities">
    <div class="block-communities">{{ block_community }}</div>

    {% for community in communities %}
      <div class="block-community">{{ community }}</div>
    {% endfor %}
  </div>

  <div class="sidebar-right">

    <div class="block-recent-content">{{ block_recent_content }}</div>
    <div class="block-donate-home">{{ block_donate_home }}</div>
  </div>

  {{ content.links }}
</article>
